#counter {
    border: none;
    background-color: rgb(0, 153, 255);
    color: white;
    padding: 5px 12px;
    margin: 0px 0px 0px 30px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
}

.subtext{
    color: rgb(185, 185, 185);
}

#button {
    transition-duration: 0.4s;
    border: none;
    background-color: rgb(0, 153, 255);
    color: white;
    padding: 15px 32px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

#button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px white;
    color: rgb(0, 77, 128);
    text-shadow: 0px 0px 1px black;
}


.no-blt{
    list-style-type: none;
}

.btn-r{
    float: right;
}

li{
    margin: 3em 0;
}