/* Separating Containers and enabling scroll for each */
.container {
  display: flex;
  flex-direction: row;
  background-color: rgb(94, 94, 94);
  color: white;
  font-family: Jost;
}

.partners{
  display: flex;
  flex: 1;
  overflow-y: scroll;
  justify-content: space-between;
  align-items: left;
  padding: 10px 10px 10px 30px;
  height: 120vh;

}

.jerbs{
  display: flex;
  flex: 1;
  overflow-y: scroll;
  justify-content: space-between;
  align-items: right;
  padding: 10px 30px 10px 10px;
  height: 120vh;
}









h1{
  display: inline-block;
}

