/* Separating Containers and enabling scroll for each */
.container {
  /* display: flex; */
  flex-direction: row;
  background-color: rgb(94, 94, 94);
  background-repeat: repeat;

  color: white;
  font-family: Jost;
  /* height: 3000000px; */
}

/* .partners{
  display: flex;
  flex: 1;
  overflow-y: scroll;
  justify-content: space-between;
  align-items: left;
  padding: 10px 10px 10px 30px;
  height: 100vh;

} */

/* .jerbs{
  display: flex;
  flex: 1;
  overflow-y: scroll;
  justify-content: space-between;
  align-items: right;
  padding: 10px 30px 10px 10px;
  height: 100vh;
} */





/* width */
::-webkit-scrollbar {
  width: 5px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #555555;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
  cursor: pointer;

}



h1{
  display: inline-block;
}

